<%- include("../../templates/head"); %>

<div class="panel">
    <div class="panel-header">
        <h1>구매 내역(조회: <%=total_count%>)</h1>

        <form method="GET" action="/admin/purchase/" class="panel-options input-inline">
            <input type="text" class="input" name="member_id" value="<%=member_id%>" placeholder="구매자 ID"/>
            <input type="number" class="input text-center" name="limit" value="<%=limit%>" placeholder="개수" style="width: 60px;"/>
            <button type="submit" class="btn btn-success" style="height: 23px;">검색</button>
            <a href="/admin/purchase/">
                <div class="btn" id="filter-clear">초기화</div>
            </a>
        </form>
        <!--/.panel-options-->
    </div>
    <!--/.panel-header-->

    <div class="panel-body padTopNone">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 60px;">#</th>
                    <th>구매자</th>
                    <th>제목</th>
                    <th style="width: 130px;">가격</th>
                    <th style="width: 180px;">구매일</th>
                </tr>
            </thead>
            <tbody>
                <% if (!purchase_list.length) { %>
                    <tr>
                        <td colspan="6" class="text-center">조회 되는 결과가 없습니다.</td>
                    </tr>
                <% } %>
                <% purchase_list.forEach(function(purchase, index) { %>
                    <tr>
                        <td class="text-center"><%=purchase.id%></td>
                        <td class="text-left">
                            <%=purchase.buyer%>
                        </td>
                        <td class="text-left">
                            <%=purchase.title%>
                        </td>
                        <td class="text-center">
                            <%=purchase.price%>
                        </td>
                        <td class="text-center">
                            <%=helper_date.getDateTime(purchase.created_date_time)%>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <!--/.panel-body-->

    <div class="panel-block text-center">
        <%- pagination_html%>
    </div>
    <!--/.panel-block-->
</div>
<!--/.panel-->

<%- include("../../templates/foot"); %>
