<%- include("../templates/head"); %>

<div class="panel">
    <div class="panel-header">
        <h1>작가 계좌 현재 상태(조회: <%=total_count%>)</h1>

        <form method="GET" action="/admin/account/" class="panel-options input-inline">
            <input type="text" class="input" name="name" value="" placeholder="작가 이름"/>
            <input type="text" class="input" name="nickname" value="" placeholder="작가 nickname"/>
            <button type="submit" class="btn btn-success" style="height: 23px;">검색</button>
            <a href="/admin/account/">
                <div class="btn" id="filter-clear">초기화</div>
            </a>
        </form>
        <!--/.panel-options-->
    </div>
    <!--/.panel-header-->

    <div class="panel-body padTopNone">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 60px;">#</th>
                    <th style="width: 120px;">작가 nickname</th>
                    <th style="width: 200px;">작가 이름</th>
                    <th style="width: 60px;">은행</th>
                    <th style="width: 100px;">계좌</th>
                    <th style="width: 100px;">총 번 금액</th>
                    <th style="width: 100px;">출금한 금액</th>
                    <th style="width: 100px;">현재 출금 요청 금액</th>
                    <th style="width: 100px;">출금가능 금액</th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                <% if (!account_list.length) { %>
                    <tr>
                        <td colspan="6" class="text-center">조회 되는 결과가 없습니다.</td>
                    </tr>
                <% } %>
                <% account_list.forEach(function(account, index) { %>
                    <tr>
                        <td class="text-center"><%=account.id%></td>
                        <td class="text-center">
                            <%=account.author.nickname%>
                        </td>
                        <td class="text-center">
                            <%=account.author.author.name%>
                        </td>
                        <td class="text-center">
                            <%=account.author.author.bank%>
                        </td>
                        <td class="text-left">
                            <%=account.author.author.account%>
                        </td>
                        <td class="text-left">
                            <%=account.total_earned_money%>
                        </td>
                        <td class="text-left">
                            <%=account.total_withdrawal_amount%>
                        </td>
                        <td class="text-left">
                            <%=account.request_withdrawal_amount%>
                        </td>
                        <td class="text-left">
                            <%=account.amount_available_withdrawal%>
                        </td>

                        <td class="menu">
                            <a href="/admin/account/<%=account.id%>/transfer" onclick=" return confirm('송금 완료하셨습니까?'); ">
                                <div class="menu-item">
                                    송금완료
                                </div>
                                <!--/.menu-item-->
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <!--/.panel-body-->

    <div class="panel-block text-center">
        <%- pagination_html%>
    </div>
    <!--/.panel-block-->
</div>
<!--/.panel-->

<%- include("../templates/foot"); %>
