<%- include("../templates/head"); %>

<div class="panel">
    <div class="panel-header">
        <h1>작가(조회: <%=total_count%>)</h1>

        <form method="GET" action="/admin/author/" class="panel-options input-inline">
            <input type="text" class="input" name="member_name" value="<%=fields.member_name%>" placeholder="작가명"/>
            <input type="text" class="input" name="price" value="<%=fields.name%>" placeholder="실명"/>
            <input type="number" class="input text-center" name="limit" value="<%=fields.limit%>" placeholder="개수" style="width: 60px;"/>
            <button type="submit" class="btn btn-success" style="height: 23px;">검색</button>
            <a href="/admin/author/">
                <div class="btn" id="filter-clear">초기화</div>
            </a>
        </form>
        <a class="nav-link" href="/admin/author/info/create">
            <div class="btn" id="author_register">작가 등록</div>
        </a>
        <!--/.panel-options-->
    </div>
    <!--/.panel-header-->

    <div class="panel-body padTopNone">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 60px;">#member_id</th>
                    <th style="width: 60px;">#author_id</th>
                    <th style="width: 60px;">실명</th>
                    <th style="width: 60px;">작가명</th>
                    <th style="width: 60px;">은행명</th>
                    <th style="width: 120px;">계좌번호</th>
                    <th style="width: 120px;"></th>
                </tr>
            </thead>
            <tbody>
                <% if (!author_list.length) { %>
                    <tr>
                        <td colspan="6" class="text-center">조회 되는 결과가 없습니다.</td>
                    </tr>
                <% } %>
                <% author_list.forEach(function(author, index) { %>
                    <tr>
                        <td class="text-center">
                            <%=author.member_id%>
                        </td>
                        <td class="text-center">
                            <%=author.id%>
                        </td>
                        <td class="text-center">
                            <%=author.name%>
                        </td>
                        <td class="text-center">
                            <% if (author.member.name) { %>
                                <%=author.member.name%>
                            <% } else { %>
                                이름 없음
                            <%} %>
                        </td>
                        <td class="text-center">
                            <%=author.bank%>
                        </td>
                        <td class="text-center">
                            <%=author.account%>
                        </td>
                        <td class="menu">
                            <a href="/admin/author/<%=author.id%>">
                                <div class="menu-item">
                                    보기
                                </div>
                                <!--/.menu-item-->
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <!--/.panel-body-->

    <div class="panel-block text-center">
        <%- pagination_html%>
    </div>
    <!--/.panel-block-->
</div>
<!--/.panel-->

<%- include("../templates/foot"); %>
