<%- include("../templates/head"); %>

<div class="panel">
	<div class="panel-header">
		<h1>연재본</h1>
	</div>
	<!--/.panel-header-->

   	<div class="panel-body padTopNone">
	   	<div class="row-col">
		   	<div class="col-4">
			   <img src="" style="width: 100%;"/>
		   	</div>
			<!--/.col-4-->
	   		<div class="col-2">
                <div class="row">
                    <label>title</label>
                    <div class="input"><%=book.title%>&nbsp;</div>
                </div>
                <br />
                <div class="row-col">
                    <div class="col-2">
                        <label>작가</label>
                        <div class="input"><%=book.member.name%></div>
                    </div>
                    <!--/.col-2-->
                    <div class="col-2">
                        <label>카테고리</label>
                        <div class="input"><%=book.category.name%></div>
                     </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <label>책 설명</label>
                    <div class="input"><%=book.book_description%></div>
                </div>
                <br />
                <div class="row">
                    <label>작가 설명</label>
                    <div class="input"><%=book.author_description%></div>
                </div>
                <br />
                <div class="row-col">
                    <div class="col-2">
                        <label>가격</label>
                        <div class="input"><%=book.price%></div>
                    </div>
                    <!--/.col-2-->
                    <div class="col-2">
                        <label>연재 완료 여부</label>
                        <div class="input">
                            <% if (book.is_finished_serialization) { %>
                                연재 완료
                            <% } else {%>
                                연재 완료 전
                            <%}%>
                        </div>  
                     </div>
                </div>
                <br />
			</div>
			<!--/.col-2-->
		</div>
        <!--/.row-col-->
	</div>
	<!--/.panel-body-->
    <div class="panel-block text-left">
        <a href="/admin/book/delete/<%=book["id"]%>" onclick=" return confirm('삭제하시겠습니까?'); ">
            <div class="btn btn-sm btn-danger">삭제</div>
        </a>
        <a href="/admin/book/approved/<%=book["id"]%>" onclick=" return confirm('발간하시겠습니까?'); ">
            <div class="btn btn-sm btn-success">연재 완료하기</div>
        </a>
    </div>
	<!--/.panel-block-->
</div>
<!--/.panel-->

<script>
	$(function() {
		$("input[name=start_date]").datepicker({"dateFormat" : "yy-mm-dd"});
        $("input[name=end_date]").datepicker({"dateFormat" : "yy-mm-dd"});
	});
	var checkCreate = function() {
		if ( $("input[name=start_date]").val() == "") {
			alertify.message("시작일 등록해주세요");
			return false;
		}
		if ( $("input[name=end_date]").val() == "") {
			alertify.message("끝일 등록해주세요");
			return false;
		}
		return true;
	}
</script>

<%- include("../templates/foot"); %>
