<%- include("../templates/head"); %>

<div class="panel">
	<div class="panel-header">
		<h1>연재본</h1>
	</div>
	<!--/.panel-header-->

   	<div class="panel-body padTopNone">
	   	<div class="row-col">
		   	<div class="col-4">
			   <img src="" style="width: 100%;"/>
		   	</div>
			<!--/.col-4-->
	   		<div class="col-2">
                <div class="row">
                    <label>title</label>
                    <div class="input"><%=book.title%>&nbsp;</div>
                </div>
                <br />
                <div class="row">
                    <label>파일</label>
                    <div class="input"><%=book.file%></div>
                </div>
                <br />
                <br />
			</div>
			<!--/.col-2-->
		</div>
        <!--/.row-col-->
	</div>
	<!--/.panel-body-->
    <div class="panel-block text-left">
        <a href="/admin/book/delete/<%=book["id"]%>" onclick=" return confirm('삭제하시겠습니까?'); ">
            <div class="btn btn-sm btn-danger">삭제</div>
        </a>
        <a href="/admin/book/<%=book.id%>/update/page">
            <div class="btn btn-sm btn-success">수정하기</div>
        </a>
    </div>
	<!--/.panel-block-->
</div>
<!--/.panel-->

<script>
	$(function() {
		$("input[name=start_date]").datepicker({"dateFormat" : "yy-mm-dd"});
        $("input[name=end_date]").datepicker({"dateFormat" : "yy-mm-dd"});
	});
	var checkCreate = function() {
		if ( $("input[name=start_date]").val() == "") {
			alertify.message("시작일 등록해주세요");
			return false;
		}
		if ( $("input[name=end_date]").val() == "") {
			alertify.message("끝일 등록해주세요");
			return false;
		}
		return true;
	}
</script>

<%- include("../templates/foot"); %>
